
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
*.sdf
*.suo
*.user
*.ncb
*.pch
*.orig
[Tt]humbs.db
.DS_Store*
*.[Pp]ublish.xml
.DS_Store
.vs/
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

[Oo]bj
[Dd]ebug
[Bb]in
[Rr]elease
[Tt]humbs.db
.DS_Store*
[Ww]eb.connection.config
[Ww]eb.setting.config
*.[Pp]ublish.xml
global.inc
global.connection.inc
global.setting.inc
.idea
build
log
temp
*.orig
*.dbmdl
*.dbproj.schemaview
*.svclog
*.svclog.exclude
ErrorLog.txt
HL7ServiceDB/sql
**/tempChart
TestResults
CommandLineHooks.xml
_lock_redgate*
Web/Properties/licenses.licx
packages
/code/Web/Uploads
*.config.template
ScreenScrapingKeys.xml
/code/Web/Scripts/ag-grid/aggridconfiguration.js
App_Readme
PlanOfCareController_BACKUP_12284.cs
PlanOfCareController_BASE_12284.cs
PlanOfCareController_LOCAL_12284.cs
PlanOfCareController_REMOTE_12284.cs
[Pp]ublish[Pp]rofiles
App.QACloud.config
*.pdb
code/DCI.Database/DCI.Database.jfm
.sonarqube
/code/.sonarqube
/code/.scannerwork
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm
/code/DCI.SystemEvents/ThirdPartyNotice.txt
